.newsletter{
    width: 65%;
    height: 40vh;
    background: linear-gradient(180deg ,#fde1ff 0% ,#e1ffea22 60%);
    margin:auto;
    gap:30px;
    padding: 0px 140px;
    display: flex;
    margin-bottom: 150px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.newsletter h1{
    font-size: 55px;
    font-weight: 600;
    color: #454545;
}
.newsletter p{
    font-size: 22px;
    font-weight: 600;
   color: #454545;
}
.newsletter div{
    width: 73opx;
    height: 70px;
    background-color: white;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.newsletter input{
    width: 500px;
    border: none;
    outline: none;
    font-family: poppins;
    color: #616161;
    margin-left: 30px;
    font-size: 16px;
}
.newsletter button{
    width: 210px;
    height: 70px;
    border-radius: 80px;
    background: black;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}